* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#il144{
  height:2px;
  background-color:#bcbcbc;
  opacity:0.5;
  width:110%;
  margin:0px 0px 0px -20px;
}
#it9xx{
  height:14px;
}
#it02q{
  text-align:left;
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}
.logo path{
  pointer-events:none;
  fill:none;
  stroke-linecap:round;
  stroke-width:7;
  stroke:rgb(255, 255, 255);
}
.wechat-group img{
  max-width:220px;
  height:auto;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  width:100%;
}
.welcome-img img{
  width:100%;
}
.htmlpage-row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.htmlpage-cell{
  width:8%;
  display:table-cell;
  height:75px;
}
.c5683{
  text-align:center;
  opacity:0.6;
}
.c5657{
  text-align:center;
  font-weight:800;
  padding:0px -1px 0px 0px;
  margin:46px 0px 0px 0px;
  font-size:42px;
}
#nav-1 .header-inner{
  width:100%;
}
#nav-1 .header-inner::after{
  content:" ";
  height:0px;
  display:block;
  visibility:hidden;
  clear:both;
}
#nav-1 h1{
  float:left;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  font-weight:900;
  font-size:28px;
  margin-bottom:0px;
  text-transform:uppercase;
  font-family:Roboto, Arial, sans-serif;
}
#nav-1 > a{
  display:inline-block;
  width:138px;
  height:22px;
}
#nav-1 img{
  height:22px;
  width:auto;
}
#nav-1 nav{
  float:right;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}
#nav-1 nav ul{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
#nav-1 nav ul li{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  margin-top:0px;
  margin-right:6px;
  margin-bottom:0px;
  margin-left:0px;
  list-style-position:initial;
  list-style-image:initial;
  list-style-type:none;
  display:inline-block;
  zoom:1;
}
#nav-1 nav ul li a{
  color:rgba(0, 0, 0, 0.5);
  font-size:16px;
  padding-top:6px;
  padding-right:14px;
  padding-bottom:6px;
  padding-left:14px;
  position:relative;
  transition-behavior:normal;
  transition-duration:0.2s;
  transition-timing-function:ease;
  transition-delay:0s;
  transition-property:all;
}
#nav-1 nav ul li a:hover{
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
#nav-1 nav ul li a.active, #nav-1 nav ul li a:focus{
  outline-color:initial;
  outline-style:none;
  outline-width:initial;
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
  color:white;
  background-image:initial;
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:rgb(31, 181, 123);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
.active{
  background-color:#ffffff;
  color:#0a0a0a;
}
.header-inner{
  background-color:#ffffff;
}
.main{
  margin:-17px 0px 0px 234px;
  padding:0px 768px 0px 5px;
  text-align:left;
  border:1px solid #03a865;
  color:#000000;
  height:30px;
  font-family:Arial, Helvetica, 华文中宋;
  font-weight:800;
  font-size:16px;
}
.c5725{
  text-align:center;
  padding:0px 0px -3px 0px;
  margin:0px 0px 0px 8px;
  float:none;
  border:3px solid #03a865;
  color:#000000;
  font-weight:600;
  font-family:Arial, Helvetica, 黑体;
  font-size:21px;
  overflow:auto;
}
.c9887{
  text-align:center;
  opacity:0.5;
}
.c23250{
  text-align:left;
  padding:0px 0px 0px 81px;
}
@media (max-width: 992px){
  .main{
    height:30px;
    margin:-17px 0px 0px 14px;
    padding:0px 460px 0px 5px;
  }
  .c5725{
    padding:0px 0px -3px 0px;
    margin:0px -27px 0px 8px;
  }
  .c5657{
    margin:46px 206px 0px 85px;
    text-align:center;
  }
}
@media (max-width: 768px){
  .htmlpage-cell{
    width:100%;
    display:block;
  }
}
@media (max-width: 480px){
  .main{
    margin:0px 0px 0px 0px;
    padding:8px 0px 0px 0px;
    text-align:left;
    width:241px;
  }
  .c5657{
    padding:15px 9px 0px 0px;
    font-size:25px;
    margin:49px 0px 0px 0px;
  }
  .c5683{
    font-size:12px;
    text-align:center;
  }
  .c9887{
    height:161px;
    en:1;
  }
  .header-inner{
    height:29px;
  }
  .c23250{
    color:black;
    width:186px;
    height:193px;
    margin:0px 0px 0px -55px;
  }
}
